apiVersion: apps/v1
kind: Deployment
metadata:
  name: product-service
  namespace: ecommerce-dev
  labels:
    app: product-service
spec:
  replicas: 1  # Reducido a 1 para desarrollo y cuentas estudiante
  selector:
    matchLabels:
      app: product-service
  template:
    metadata:
      labels:
        app: product-service
    spec:
      containers:
      - name: product-service
        image: <REGISTRY>/product-service:0.1.0
        imagePullPolicy: Always
        ports:
        - containerPort: 8500
          name: http
        envFrom:
        - configMapRef:
            name: product-service-config
        resources:
          requests:
            memory: "512Mi"
            cpu: "250m"
          limits:
            memory: "1Gi"
            cpu: "500m"
        livenessProbe:
          httpGet:
            path: /product-service/actuator/health
            port: 8500
          initialDelaySeconds: 90
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /product-service/actuator/health
            port: 8500
          initialDelaySeconds: 60
          periodSeconds: 5

---
apiVersion: v1
kind: Service
metadata:
  name: product-service
  namespace: ecommerce-dev
  labels:
    app: product-service
spec:
  type: ClusterIP
  ports:
  - port: 8500
    targetPort: 8500
    protocol: TCP
    name: http
  selector:
    app: product-service

